<div class="container">
    <div class="row">
        <div class="col-lg-8"><h1>Created/Joined</h1></div>                                    
        <div class="col-lg-4 bg-secondary"><h1>Date of Event</h1></div>
    </div>
    <div class="row">
        <% include event.ejs %>
    </div>
</div>