<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <% include partials/bootstrap.ejs %>
        
        <title>OpenJio</title>
    </head>
<body>
    <!--Navigation-->
    <% include partials/loginNav.ejs %>
      
    <!--Spacing-->
    <div class = "m-5"></div>

    <!--Page-->
    <div class="container">
        <div class= "row">
            <div class="col-4">
                Hello
            </div>
            <div class="col-8">
                <div class="container">
                    <h4 class="text-center">Register</h4>
                    <form class="form" action="#" method="POST">
                        
                        <div class = "container">
                            <div class="row">
                                <div class = "col-4">
                                    <p class="text-right align-middle">Enter Name:</p>
                                </div>
                                <div class="col-8">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Username">
                                    </div> 
                                </div>    
                            </div>    
                        </div>
                        <div class = "container">
                                <div class="row">
                                    <div class = "col-4">
                                        <p class="text-right align-middle">Enter Name:</p>
                                    </div>
                                    <div class="col-8">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Username">
                                        </div> 
                                    </div>    
                                </div>    
                            </div>
                            <div class = "container">
                                    <div class="row">
                                        <div class = "col-4">
                                            <p class="text-right align-middle">Enter Name:</p>
                                        </div>
                                        <div class="col-8">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Username">
                                            </div> 
                                        </div>    
                                    </div>    
                                </div>
                             <button type="submit" class="btn btn-primary float-right">Log In</button>
                    </form>  
                </div>
            </div>
        </div>       
    </div>
</body>
</html>
      